.open {
  display: flex !important;
}

#Container {
  max-width: 600px;
  height: 400px;
  display: none;
  background-color: rgba(68, 68, 68, 0.411);
  border-radius: 30px;
}

.tela-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 40px;
}

.login-tela h1 {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #fff;
}

.form-login {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.input-login {
  width: 250px;
  height: 40px;
  outline: none;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: none;
}

.bnt-login {
  width: 250px;
  font-size: 17px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.bnt-login:hover {
  background-color: #000;
  transition: all ease 0.5s;
}

@media (max-width: 425px) {
  #Container {
    max-width: 420px;
    height: 450px;
  }

  .tela-login {
    padding: 50px;
    margin: 0;
  }

  .form-login {
    height: 250px;
  }

  .login-tela h1 {
    font-size: 35px;
  }

}