@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container {
  max-width: 1800px;
  margin: auto;
  height: 88vh;
}