@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1800px;
  margin: auto;

}

.home-text {
  font-size: 80px;
  color: #fff;
  margin: 30px;
  text-align: center;
}

.tela-login-tn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}